<form action='/event' method='post'>

	<label>Event Name: <input id='event_name' name='event_name' type='text' /></label>
	<label>Event Date: <input id='date' name='date' type='text' /></label>
	<label>Event Location: <input id='location' name='location' type='text' /></label>
	<label>Event Time: <input id='time' name='time' type='text' /></label>
	<label>Person 'n Charge: <input id='pInCharge' name='pInCharge' type='text' /></label>
	<label>Image to Upload: <input id='imageUploaded' name='imageUploaded' type='image'></label>

	<input calue='Create Event' type='submit' />
</form>
