<form action='/event' method='post'>

	<label>Event Name: <input id='event_name' name='eventname' type='text' /></label>
	<label>Event Name: <input id='date' name='eventname' type='text' /></label>
	<label>Event Name: <input id='location' name='eventname' type='text' /></label>
	<label>Event Name: <input id='time' name='eventname' type='text' /></label>
	<label>Event Name: <input id='pInCharge' name='eventname' type='text' /></label>

	<input calue='Create Event' type='submit' />
</form>
